h1 {
    text-align: center;
}

#RPS {
    text-align: center;

}

input {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-size: 20px;
}

input:hover {
    background-color: #555555;
    color: white;
}

#computerHeader {
    position: relative;
}

#scoreBoard {
    display: block;
    margin: 10vh auto 0 auto;
    background-color: #ddd;
    width: 200px;
    height: 150px;
    border-radius: 5%;
}

h3 {
    text-align: center;
}

.player-score-title {
    float: left;
    
}

.computer-score-title {
    float: right;
}

.scoreP {
    float: left;
    left: -30px;
    font-size: 3em;
    position: relative;
}

.scoreC{
    float: right;
    bottom: -0px;
    right: -45px;
    font-size: 3em;
    position: relative;
}


